.container{
    text-align: center;
    margin:auto;
    padding:1rem;
}

.container__card_left{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    margin-bottom:1rem;
    width:18rem;
}

.container__card_left > h2{
    font-size: 1.2rem;
}

.container__card_left > h2 > span{
    background-image: linear-gradient(135deg, rgba(98,65,145,1) 29%, rgba(227,100,116,1) 78%);;
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.container__card_left > p{
    color: var(--secon-txt-color);
    font-size: .8rem;
    margin:1rem;
}

.container__card_left_links > ul{
    display:flex;
    flex-direction:row; 
}

.container__card_left_links > ul > li > a > img{
    width:1.6rem; 
    filter: drop-shadow(-2px -1px 1px rgba(98,65,145,1));
    transition:all .3s ease-in-out;
}

.container__card_left_links > ul > li > a > img:hover{
    transform:scale(1.1);
}

.container__card_right > img{
   width:13rem;
   border-radius:50%;
   filter: drop-shadow(2px -2px 3px rgba(98,65,145,1));
}