<div class="container">
    <div class="container__card_left">
        <h2>Hello World! I'm Vitor Andes. A <span>Front-end web developer.</span></h2>
        <p>Entering the Developer area, always learning more about technologies, I like to stay engaged and watch the latest news</p>
        <div class="container__card_left_links">
            <ul>
                <li>
                    <a href="https://www.instagram.com/vtr_andes/" target="_blank">
                        <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-256.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/vitor-andes-dos-santos-3265ba243/" target="_blank">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-linkedin-outline-256.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/VitorAndes" target="_blank">
                        <img src="https://cdn1.iconfinder.com/data/icons/picons-social/57/github_rounded-256.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container__card_right">
        <img src="https://avatars.githubusercontent.com/u/104475906?v=4" alt="">
    </div>    
</div>